local Settings = {
	["Name"] = 'UTILITY',
	["Description"] = 'MrHeadlesCreator',
	["Script_Pastebin"] = "https://pastebin.com/raw/5GxgV4Ui",
	["Movable"] = true
}
loadstring(game:HttpGet("https://pastebin.com/raw/BGYSRneb"))()
--[[Made by MrHeadlesCreator!--]]
